.header {
    background-color: #f01133;
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 2vw;
}

.logoContainer {
display: flex;
}

.logo {
    width: 5vw;
    height: 5vw;
    margin: 1vw;
}

.logoText {
    color: #fff;
    align-self: center;
    font-family: 'Pacifico', cursive;
    font-size: 3vw;
}

.headerButtonWrapper {
    display: flex;
}