.header {
    background-color: #e60023;
    display: flex;
    justify-content: flex-end;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 2vw;
}

.headerButtonWrapper {
    display: flex;
}